[ContrastEffect]
enabled=true

contrast=0.75
intensity=1.1
saturation=3

# contrast=0.5
# intensity=1.2
# saturation=3.8

#breeze
# contrast=0.2
# intensity=1.4
# saturation=10

#dark
# contrast=.4
# intensity=.7
# saturation=4

#light
# contrast=.65
# intensity=1.15
# saturation=2.8

[Desktop Entry]
Name=Willow Spectrum Customized v2
Comment=A Windows 11 style demo Customized.
X-KDE-PluginInfo-Author=doncsugar, Thakshila Damsak
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=willow-spectrum-plasma-customized-v2
X-KDE-PluginInfo-Version=2
X-KDE-PluginInfo-Website=
X-Plasma-API=5.0

[AdaptiveTransparency]
enabled=false
